
body {
    margin: 0 auto;
    padding-left: 20%;
    padding-right: 20%;

}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

h1 {
    border-style: solid;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

h4 {
    border-style: solid;

}

.navBar {
    display: flex;
    justify-content: space-evenly;
    border-style: solid;
    border-left: 100px;
    border-right: 100px;
}

.topContent {
    display: flex;
    justify-items: center;
    margin-left: 190px;
    margin-right: 190px;
    padding-bottom: 25px;
    margin-top: -25px;
    right: -10px;

}

.p {
    border-style: solid;
    margin-bottom: 20px;
    font-size: 45px;
    height: 125px;
}

.author {
    position: absolute;
    bottom: 625px;
    padding-left: 225px;
}

.socialIcons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: -60px;
    padding-right: 250px;

}

.fa {
    padding: 10px;
    text-align: center;
    margin: 25px 5px;
    font-size: 35px;
    width: 35px;
    height: 20px;
}

.fa-twitter {
    font-size: larger;
    background: #55ACEE;
    color: white;
    margin-right: 190px;
}

.fa-facebook {
    text-align: center;
    font-size: larger;
    background: #3b5998;
    color: white;
    margin-right: 3px;
}

.share {
    position: absolute;
    border-style: solid;
    padding: 30px 30px;
    padding-bottom: 1px;
    padding-top: 6px;
    margin-top: 30px;
    margin-bottom: 10px;
    right: 675px;
    bottom: 630px;
}

img {
    display: flex;
    justify-content: center;
    margin-left: 190px;
    width: 700px;
}

.lore, .ipsum {
    padding-left: 190px;
    font-size: 30px;
}

.ipsum {
    margin-top: -25px;
}

.midPs {
    display: flex;
    align-items: flex-start;
    margin-left: 200px;
    padding-right: 20px;
    width: 700px;
    margin-top: -50px;
    font-size: 27px;
}

.midPs2 {
    display: flex;
    align-items: flex-start;
    margin-left: 200px;
    padding-right: 20px;
    width: 700px;
    margin-top: -50px;
    font-size: 27px;

}

.borderBox {
    border-style: solid;
    display: flex;
    justify-content: space-between;
    margin-left: 190px;
    width: 700px;
}

.info, .rec {
    font-size: x-large;
}

.info {
    margin-top: 5px;
    padding-left: 25px;
    margin-bottom: -15px;
}

.rec {
    margin-bottom: -15px;
    padding-left: 80px;
}

.footerImage {
    display: absolute;
    width: 200px;
    margin-left: 100px;
    margin-top: 30px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 475px;
    margin-top: -50px;
    padding-bottom: 50px;
    width: 475px;
    font-size: 20px;
}

ul {
    list-style-type: none;
    color: black;
}

li {
    font-size: 22px;
}
ul li:before {
    content: '\2012';
    position: absolute;
    margin-left: -20px;
}
